{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}HiFi Store{% endblock %}</title>

    <!--Google fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:wght@400;600&display=swap"
        rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
</head>

<body>

    <header class="border-bottom bg-light">
        <nav class="container d-flex justify-content-between align-items-center py-3"> <a href="/"
                class="fw-bold fs-4 text-decoration-none text-dark"> HiFi Store </a>
            <div class="d-flex align-items-center"> <a href="/products/" class="me-4 text-decoration-none text-dark">
                    Products </a>

                {% if user.is_authenticated %}
                <a href="{% url 'my_orders' %}" class="me-4 text-decoration-none text-dark">
                    My Orders
                </a>

                <form method="post" action="{% url 'logout' %}" class="d-inline me-4">
                    {% csrf_token %}
                    <a href="#" onclick="this.closest('form').submit(); return false;"
                        class="text-decoration-none text-dark" style="cursor: pointer;">
                        Logout
                    </a>
                </form>

                {% else %}
                <a href="{% url 'register' %}" class="me-4 text-decoration-none text-dark">
                    Register
                </a>
                <a href="/accounts/login/" class="me-4 text-decoration-none text-dark">
                    Login
                </a>
                {% endif %}

                <a href="{% url 'cart_detail' %}" class="me-4 text-decoration-none text-dark"> Cart
                    {% if cart_item_count > 0 %}
                    <span class="badge bg-primary rounded-pill ms-1">{{ cart_item_count }}</span>
                    {% endif %}
                </a>
            </div>
        </nav>
    </header>

    <main class="container my-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="border-top text-center py-3 text-muted">
        © HiFi Store
    </footer>

</body>

</html>